.searchBar {
  background-color: #303f9f;
  height: 70px;
  display: flex;
}
.searchForm {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
  margin: 10px auto;
}

.searchBtn {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 0;
  background-size: 40%;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.79 1.6a8.19 8.19 0 1 0 0 16.38 8.19 8.19 0 0 0 0-16.38ZM0 9.79C0 4.383 4.383 0 9.79 0c5.407 0 9.79 4.383 9.79 9.79 0 5.407-4.383 9.79-9.79 9.79C4.383 19.58 0 15.197 0 9.79Z' fill='%23485470'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.473 15.945a.8.8 0 0 1 1.132-.002l4.7 4.688a.8.8 0 0 1-1.13 1.133l-4.7-4.688a.8.8 0 0 1-.002-1.13Z' fill='%23485470'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
}

.searchBtn:hover {
  opacity: 1;
}

.searchBtnLabel {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.searchInput {
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 20px;
  border: none;
  outline: none;
  padding-left: 4px;
  padding-right: 4px;
}

.searchInput::placeholder {
  font: inherit;
  font-size: 18px;
}

